.popupContainer {
  background-color: rgba(0, 0, 0, 0.8);
	color: white;
}

.popupContainer img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.popupContent {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

.ingredients {
  color: #da7b7b;
}